body {
    background-color: #FFC1C1;
}
.myLabel {
    color: #800000;
    background: #FFFAFA;
    text-align:center;
    font-family: 'Lucida Handwriting';
    margin-bottom:15px;
    margin-left:15px;
    margin-right:15px;
    padding-left: 20px;
    padding-right:20px;
    width:auto;
}


